@import "config";

header {
  position: relative;

  .header_container {
    @extend %flex;
    margin: 50px 0 50px;
    font-weight: bold;

    .header_right {
      display: flex;
      align-items: center;

      h3 {
        font-size: 1.2rem;
        line-height: 1.2rem;
        letter-spacing: 0.5px;
        align-items: center;
      }
    }

    .header_left {
      display: flex;

      .media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border: 1px solid lighten($dark-color, 65%);
        border-radius: 20px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          color: $light-color;
          background: lighten($dark-color, 55%);
          border-radius: 50%;
          margin-bottom: 10px;
          transition: all 0.3s ease-in;
        }
        a:last-child {
          margin-bottom: 0;
        }
        a:hover {
          background: $main-color;
        }
      }
    }
  }

  .intro {
    @extend %flex;
    margin-bottom: 80px;

    .intro_text {
      width: 50%;

      .intro_hello {
        font-family: $secondary-font;
        letter-spacing: 2px;
        font-weight: bold;

        .greeting1 {
          color: lighten($orange, 20%);
          font-size: 1.5rem;
          opacity: 0;
          transition: all 0.3s ease-in;
        }
        .greeting2 {
          color: lighten($orange, 15%);
          font-size: 2rem;
          opacity: 0;
          transition: all 0.3s ease-in;
        }
        .greeting3 {
          color: lighten($orange, 10%);
          font-size: 2.5rem;
          opacity: 0;
          transition: all 0.3s ease-in;
        }

        // *** add slide in effect
        .greeting1.appear,
        .greeting2.appear,
        .greeting3.appear {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .intro_name {
        h1 {
          font-family: $secondary-font;
          font-size: 2.5rem;
          letter-spacing: 2px;
          color: lighten($dark-color, 20%);
          transform: translateY(30px);
          transition: all 0.3s ease-in;
          opacity: 0;
        }
      }

      // *** add slide in effect
      .intro_name.appear {
        h1 {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }

    .intro_portrait {
      display: flex;
      align-items: center;
      width: 50%;
      // *** Note: add min-height value to fix a issue (header.offsetHeight is unstable) in script.js
      min-height: 407px;

      .intro_portrait_container {
        position: relative;
        width: 100%;
        transform: translateY(30px);
        transition: all 0.3s ease-in;
        opacity: 0;

        img {
          width: 100%;
          height: auto;
          padding: 0 10px;
        }
        .intro_portrait_screen {
          position: absolute;
          top: 37%;
          left: 21.5%;
          height: 36%;
          width: 57%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: rgba($color: #ffffff, $alpha: 0.5);
          border: 4px solid #fff;
          border-radius: 10px;
          transform: rotateY(180deg);

          span {
            font-size: 0.7rem;
            margin-bottom: 12px;
            color: $main-color;
          }
          span:last-child {
            margin-bottom: 0px;
          }
          .screen_code_1,
          .screen_code_2,
          .screen_code_3 {
            opacity: 0;
            transition: all 0.3s ease-in;
          }
          // *** add slide in effect
          .screen_code_1.appear,
          .screen_code_2.appear,
          .screen_code_3.appear {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
    .intro_portrait_container.appear {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .dots_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;

    .dot {
      background: $yellow;
      border-radius: 50%;
      position: absolute;
      transition: all 1s ease-in-out;
    }
    .blink {
      visibility: hidden;
      filter: blur(2px);
    }
  }
}
