.sun-moon-container {
  display: table;
  margin: 46px 30px 0 0;
  cursor: pointer;

  .sun {
    position: relative;
    width: 15px;
    height: 15px;
    background: $orange;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease-in-out;
    margin: 8px 7px 0 0;
    // display: none;
  }
  // *** sunshine's inner circle
  .sunshine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  // *** rays of sunshine
  .sunshine::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 6px;
    border-radius: 30%;
    background: $orange;
  }

  .moon {
    position: relative;
    width: 30px;
    height: 30px;
    background: $yellow;
    border-radius: 50%;
    display: none;
    transition: display 0.3s ease-in-out;
  }
  .moon::before {
    content: "";
    position: absolute;
    top: -5%;
    left: 70%;
    transform: translateX(-50%);
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: $dark-color;
  }

  .star-container {
    position: absolute;
    top: 0%;
    left: 47%;
    transition: all 0.3s ease-in-out;
  }
  .star {
    position: relative;
    display: block;
    color: #fff;
    width: 0px;
    height: 0px;
    margin: 5px 0;
    border-right: 8px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 8px solid transparent;
    transform: rotate(35deg);
  }
  .star::before {
    content: "";
    position: absolute;
    top: -3.2px;
    left: -5.4px;
    display: block;
    height: 0;
    width: 0;
    border-bottom: 6px solid #fff;
    border-left: 2.5px solid transparent;
    border-right: 2.5px solid transparent;
    transform: rotate(-35deg);
  }
  .star::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -8.5px;
    display: block;
    color: #fff;
    width: 0px;
    height: 0px;
    border-right: 8px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 8px solid transparent;
    transform: rotate(-70deg);
  }
}

// *** add hover effect to the sun
.sun-moon-container:hover .sun {
  transform: rotate(60deg);
}

// *** add hover effect to the star
.sun-moon-container:hover .star-container {
  transform: rotate(360deg);
}

// *** for rotate rays of sunshine
@for $i from 1 through 11 {
  .rotate#{$i} {
    transform: rotate(360deg / 12 * $i);
  }
}
